.clock-error-container {
  height: 100vh;
  background: linear-gradient(135deg, #4267b3);
  color: #f0f3f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.error-code {
  font-size: 6rem;
  font-weight: 900;
  margin: 0 0 10px 0;
  animation: fadeIn 3s ease forwards;
  opacity: 0;
}

.error-message {
  font-size: 1.6rem;
  margin-bottom: 40px;
  font-weight: 600;
  animation: fadeIn 3s ease forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.clock {
  width: 180px;
  height: 180px;
  border: 8px solid #ecf0f1;
  border-radius: 50%;
  background: #34495e;
  box-shadow: inset 0 0 30px #2980b9, 0 8px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: 40px;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-2px); /* centraliza os ponteiros */
}

.hand {
  position: absolute;
  width: 50%;
  background: #ecf0f1;
  top: 50%;
  transform-origin: 100%;
  transition: all 0.05s cubic-bezier(0.4, 2.34, 0.3, 0.9);
  border-radius: 6px;
}

.hour-hand {
  height: 6px;
  left: 50%;
}

.min-hand {
  height: 4px;
  left: 50%;
}

.second-hand {
  height: 2px;
  background: #ed1717;
  left: 50%;
}

.tick {
  position: absolute;
  width: 4px;
  height: 15px;
  background: #ecf0f1;
  top: 10px;
  left: calc(50% - 2px);
  border-radius: 2px;
}

.error-button {
  background-color: #90949c;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 35px;
  font-weight: 700;
  box-shadow: 0 4px 12px #8c8885bb;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.error-button:hover {
  background-color: #4e535b;
  transform: scale(1.1);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
