.cadastro-page {
  min-height: 100vh;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f8e6e600;
}


.cadastro-page a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.cadastro-page a:hover { color: #535bf2; }

.cadastro-page main {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container {
  display: flex;
  width: 900px;
  max-width: 95%;
  background-color: #ffffff10;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.cadastro-left {
  flex: 1;
  background: linear-gradient(to bottom right, #646cff, #535bf2);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cadastro-left h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.6rem;
  margin-bottom: 1rem;
}

.form-check-label { font-size: 0.9rem; }

.btn-cadastrar {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}

.btn-cadastrar:hover { border-color: #646cff; }

.link-login {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
  text-transform: capitalize;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0.4rem;
}
.link-login:hover {
  background-color: #f0f0f0;
  transition: 0.3s;
}


.cadastro-right {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.cadastro-right img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cadastro-right img.active { opacity: 1; }

/* Light mode */
@media (prefers-color-scheme: light) {
  .cadastro-page {
    color: #213547;
    background-color: #ffffff;
  }

  .cadastro-left {
    color: #213547;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .cadastro-page {
    padding-top: 60px;
    padding: 60px 1rem 1rem;
  }
  
  .cadastro-container {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  
  .cadastro-right {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .cadastro-page {
    padding-top: 50px;
    padding: 50px 0.5rem 0.5rem;
  }
  
  .cadastro-left {
    padding: 1.5rem;
  }
  
  .cadastro-left h2 {
    font-size: 1.5rem;
  }
}
